body {
    background: dimgrey;
    background-image: url('img/Mosiur.PNG'),url('img/mosiur-1.jpg'),url('img/bg.jpg');
    margin-left: 350px;
    width: 100%;
}
    
}
.error_show{
    background: gray;
    color:red;
}
.login_container {
    height: 50%;
    width: 35%;
    float: center;
   background:white;
    border: 20px solid #f1f1f1;
    margin: 35px;
}
.registration_container{
    height: 50%;
    width: 35%;
    float: center;
    background: white;
    border: 20px solid #f1f1f1;
    margin: 35px;
}
.error_show{
    background: black;
}
h2{
	text-align: center;
	background: green;
}
input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: 67px;
    padding: 4px 18px;
    background-color: #F4464B;
}
.signupbtn {
    width: 88px;
    padding: 4px 18px;
    background-color: darkgreen;
}
.submitbtn {
    width: 100px;
    padding: 10px 18px;
    background-color: #4CAF50;
}
img.img {
    width: 11%;
    border-radius: 50%;
}
.img_container {
    text-align: center;
    margin: 24px 0 12px 0;
}
